@import '../../bedrock/scss/variables';

:host {
  display: inline-block;
}

.btn-small {
  height: $button-height-small;
  line-height: $button-height-small;
  font-size: $button-font-small;

  .icon {
    --iron-icon-height: 16px;
    --iron-icon-width: 16px;
  }
}

.btn-large {
  height: $button-height-large;
  line-height: $button-height-large;
  font-size: $button-font-large;

  .icon {
    --iron-icon-height: 32px;
    --iron-icon-width: 32px;
  }
}